<link href="/css/tailwind.css" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,400;0,600;0,700;0,800;1,400;1,700;1,800&display=swap" rel="stylesheet"> 
<style>

      a {
        text-decoration: underline;
        color:rgba(30, 64, 175, 1);
      }
      a:focus, a:hover {
        background-color: rgba(252, 211, 77, 1);
        color: black;
        
      }
  
      main h1 {
        text-transform: uppercase;
        --tw-text-opacity: 1;
        color: rgba(55, 65, 81, var(--tw-text-opacity));
        font-size: 1.875rem;
        line-height: 2.25rem;
        font-weight: 700;
        margin: 1rem 0rem;
      }

      main h2 {
        text-transform: uppercase;
        --tw-text-opacity: 1;
        color: rgba(55, 65, 81, var(--tw-text-opacity));
        font-size: 1.275rem;
        line-height: 1.75rem;
        font-weight: 700;
        margin: 1rem 0rem;
      }

      main p {
        margin-bottom: 0.5rem;
      }
      blockquote {
        font-size: .875rem;
        background: #f9f9f9;
        border-left: 10px solid #ccc;
        margin: 1rem 1.5rem;
        padding: 1rem;  
      }

      main ol {
        list-style:decimal;
        margin-left: 1.8rem;
      }
      main ul {
        list-style:disc;
        margin-left: 1.8rem;
      }


</style>