{% macro details(title, content) %}
<details class="cursor-pointer col-span-3 my-6">
    <summary class="font-bold">{{ title | replace("[title]", "")}}</summary>    
    <p class="my-4 ml-4">{{ content | replace("[content]", "")}}</p>
    </details>
    {% endmacro %}