{% macro details(summary, detailtext) %}
<details class="mx-auto cursor-pointer w-2/3 my-6">
    <summary class="font-bold">{{ summary }}</summary>    
    <p class="my-4 ml-4">{{ detailtext }}</p>
    </details>
    {% endmacro %}