{% macro sideside(params) %}
  {%- include "./side-side/_template.njk" -%}
{% endmacro %}
{% macro jobtitle(params) %}
  {%- include "./jobtitle/_template.njk" -%}
{% endmacro %}
{% macro details(params) %}
  {%- include "./details/_template.njk" -%}
{% endmacro %}
{% macro colors(params) %}
  {%- include "./colors/_template.njk" -%}
{% endmacro %}
{% macro card(params) %}
  {%- include "./card/_template.njk" -%}
{% endmacro %}
{% macro callout(params) %}
  {%- include "./callout/_template.njk" -%}
{% endmacro %}
{% macro button(params) %}
  {%- include "./button/_template.njk" -%}
{% endmacro %}
{% macro avatar(params) %}
  {%- include "./avatar/_template.njk" -%}
{% endmacro %}