<div class="flex flex-col ">
    <div class="inline-flex"><div class="text-xs whitespace-nowrap pr-2 md:px-4">Product Management</div><div class="text-xs whitespace-nowrap md:px-4">Communications</div><div class="text-xs px-4 whitespace-nowrap">Development</div></div>
    <div class="{{ params.slidecolor }} border border-solid border-gray-600 h-8 w-11/12 md:w-96 rounded-3xl md:ml-4"><span class="text-2xl font-black {{ params.margin }}">|</span></div>
</div>