<!doctype html>
<html lang="en">
  <head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include '_css-link.njk' %}
    <title>{{ title }}</title>
  </head>
  <body class="">
  <nav>  </nav>
  <main class="mx-8 md:mx-20">
   {{ content | safe }}
   </main>
  </body>
</html>