<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include '_css-link.njk' %}
    <title>{{ title }}</title>
    <style>
      .markdown p, h1, h2, h3, h4, h5, h6, ol, ul {
      	grid-column: span 3 / span 3;
      }
      </style>
  </head>
  <body class="mx-auto w-5/6 grid grid-cols-3 markdown">
   {{ content | safe }}
  </body>
</html>