<!doctype html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include '_css-link.njk' %}
    <title>{{ title }}</title>
  </head>
   <body class="">
  <nav class="w-1/4 mt-6"> <a href="../" class="font-bold p-4"> back </a>  </nav>
  <main class="mx-8 md:mx-20">
   {{ content | safe }}
   </main>
    <footer class="text-xs text-center mt-12">
  <p class="py-4">Hey just so you know this website is built using <a href="https://www.11ty.dev/">11ty/eleventy</a> with templating done in <a href="https://mozilla.github.io/nunjucks/">Nunjucks</a> and front-end mostly in <a href="https://tailwindcss.com/"> Tailwind CSS </a>. </p>
   <p class="py-4"> &copy;Jeffrey H.S. Knaack - largely a work in progress so don't judge me</p>
   <p class="py-4"> <a href="/privacy">Information Security, Use, and Privacy Policy</a></p>
   </footer>
  </body>
</html>