<details class="cursor-pointer md:col-span-3 my-2 mx-6 border-dotted border border-gray-900 shadow-md rounded-md">
<summary class="font-bold p-4"><span>{{ params.title }}</span></summary>    
<p class="my-4 ml-4 px-4">{{ params.content }}</p>
</details>

