<div class="flex">
    <h2 class="font-bold text-xl pt-8">{{ params.colortitle }}</h2>
    <div class="inline-flex flex-row">
        <span class="rounded-full {{ params.twcolor }} p-12 md:p-24 border-4 border-dashed border-black m-4 ml-0"></span> 
    <div class="flex items-center"> <p>{{ params.rgba }}</p> </div>
    </div>
 </div>
