<div class=" flex-col md:grid"> 
    <details class="font-bold pt-8 w-max cursor-pointer hidden md:block"><summary class="text-xl">{{ params.colortitle }}</summary><p class="text-sm">{{ params.rgba }}</p> <p class="text-sm">{{ params.rgbahover }} <strong> (hover)</strong></p></details>
    <div class="inline-flex flex-row mx-8">
        <span class="rounded-full {{ params.twcolor }} hover:{{ params.twcolorhover }} p-12 md:p-20 border-4 border-dashed border-black m-4 ml-0"> 
        </span><p class="md:hidden flex items-center text-xs bg-white p-1 rounded-md">{{ params.colortitle }} <br> {{ params.rgba }}</p>
   </div>
    <div class="inline-flex flex-row mx-8">
   <span class="rounded-full md:hidden block {{ params.twcolorhover }} p-12 md:p-20 border-4 border-dashed border-black m-4 ml-0"> 
        </span><p class="md:hidden flex items-center text-xs bg-white p-1 rounded-md">{{ params.colortitle }} (hover) <br> {{ params.rgbahover }}</p></div>
 </div>