<div class="m-4 border-solid border-gray-700 border overflow-hidden max-w-lg md:max-w-sm">
  
  <img src="{{ params.imgsource }}" alt="{{ params.imgalt }}" class="object-cover overflow-hidden h-64 w-full" />

  <h2 class="text-xl font-bold p-4 border-b border-gray-200"><a href="{{ params.link }}" class="hover:underline hover:text-gray-700"> {{ params.title }}</a></h2>

  <p class="p-4 h-48">{{ params.content }}</p>

  <a href="{{ params.link }}" class="py-2 px-4 text-white bg-black block hover:bg-gray-800 hover:underline"> {{ params.linktext }} </a>

</div>