---
layout: layout-homepage.njk
title: Knaackbuilt.dev
templateEngineOverride: njk,md
---
# {{ title }}

{% import '_callout.njk' as macro %}
{{ macro.callout('Here is the main text of the callout', 'Component Index', '/components')}}