---
layout: layout.njk
---
{% import '_card.njk' as macro %}
{{ macro.card('something', 'whatttt') }}


{% import '_details.njk' as macro %}
{{ macro.details('Title of The DETAIL', 'SOMETHING that is actuall in there and passed as a variable') }}

{% import '_details.njk' as macro %}
{{ macro.details('Title of The DETAIL 68687687', 'SOMETHING tha123108274934t is actuall in there and passed as a variable') }}